body {
	background-color: #110c16;
	color: rgba(255, 255, 255, 0.637);
}

.logo {
	font-family: "Dosis", sans-serif;
}

#root {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	color: rgb(173, 163, 255);
	text-decoration: none;
}

video::-webkit-media-controls {
	display: none !important;
}

.simplebar-scrollbar:before {
	background: #eeeeee;
}
